@tailwind base;
  @tailwind components;
  @tailwind utilities;

 body{
  background: #010101;
 }
 .filter{
display: none;
}

.button_slide {
  color: #010101;
  border: 2px solid #010101;
  border-radius: 0px;
  padding: 18px 36px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #010101;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.button_slide:hover {
  box-shadow: inset 400px 0 0 0 #010101;
}